package @package;

import org.wanwanframwork.file.Log;

/**
 * Controller
 * @author controller.template
 *
 */
public class @NameController {

	private String content;
	
	public @NameController() {
		
	}
	
	public void init() {
		Log.log("content:" + content);
	}
	
	public static void main(String[] args) {
		@NameController controller = new @NameController();
		controller.init();
	}
}
