package @package;

import org.wanwanframwork.file.Log;

/**
 * service
 * @author @Name
 *
 */
public class @NameService {

	private String content;
	
	public @NameService() {
		
	}
	
	public void init() {
		Log.log("content:" + content);
	}
	
	public static void main(String[] args) {
		@NameService c = new @NameService();
		c.init();
	}
}
